@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

/* 
  font-family: "Sofia Sans", sans-serif;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
*/

.font-sofia-sans{
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: 900;
}
.page-heading{
  font-size: 5rem;
  font-weight: 900;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
  color: #000;
}

h1,
h2,
h3 {
  font-weight: 700;
}

img.header-logo {
  max-width: 400px;
  display: block;
  margin: auto;
}

.btn-header {
  background-color: #fff;
  border-radius: 30px;
  color: #BF0020;
  font-size: 1.5rem;
  padding: 0.5rem 1.75rem;
  text-decoration: none !important;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}


nav.navbar a{
  color: #fff !important;
  font-size: 1.2rem;
}


.nav-social a {
  background-color: #0c3b5d;
  color: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}


.btn-donate {
  color: #cf0025 !important;
  font-weight: 700;
  border-radius: 0;
  background-color: #fff;
  padding: 0.7rem 2rem !important;
  margin-left: 15px;
  transition: 0.3s;
  box-shadow: 0 0 8px 0px #00000033;
}

.btn-donate:hover {
  color: #fff !important;
  background-color: #cf0025;
}

img {
  max-width: 100%;
}

.text-dark-blue {
  color: #002260;
}

.text-red {
  color: #ff2d20;
}

.text-white2 {
  color: #cacfdd;
}


.banner {
  background-image: url(../images/header.png);
  background-size: auto 110%;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #002260;
  color: #002d4b;
  /* text-align: center; */
  /* padding-top: 2rem; */
}

.banner .row{
  min-height: 100vh;
  box-sizing: border-box;
}

.navbar-brand img {
  max-width: 150px;
}

@media (min-width: 992px) {
  nav.navbar.nav-fixed{
    position: absolute;
    width: 100%;
  }
}

.banner-title {
  font-family: "Trocchi", serif;
  font-size: 2.1rem;
  line-height: 1.2;
}

.banner-sub-heading {
  font-size: 5rem;
  color: #cacfdd;
  font-weight: 900;
  line-height: 1;
}

.banner-heading {
  font-size: 5rem;
  font-weight: bold;
  line-height: 0.85;
  padding-top: 1.5rem;
}

.banner-btn {
  background-color: #ff2d20;
  border-radius: 30px;
  color: #fff;
  font-size: 1.75rem;
  padding: 0.5rem 3rem;
  text-decoration: none !important;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 500;
}

.about-section{
  background-image: url(../images/about.png);
  background-size: 62% auto;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #E2E6ED;
}

/* newsletter */

.newsletter-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-form-full {
  max-width: none;
}

.newsletter-form-full .form-check-label {
  font-size: 0.9rem;
}

.form-desktop-1 {
  width: 49%;
}

.form-desktop-full {
  width: 100%;
}

.form-desktop-3 {
  margin: auto;
}

.form-check {
  margin-bottom: 0; /* Remove default margin for checkbox */
}

input.form-control {
  border: none;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #000;
  border-radius: 20px !important;
  /* padding-left: 0; */
}

.form-check-label {
  user-select: none;
}

.btn-red {
  background-color: #BF0020;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none !important;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 500;
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 8px 0px #00000033;
  transition: 0.3s;
}

.btn-red:hover {
  background-color: #cf0025;
  color: #fff;
}

.bg--light {
  background-color: #f4f4f4;
}

.bg-blue {
  background-color: #0c3b5d;
}

.blue-section-heading-1 {
  font-size: 5.5vw;
  line-height: 0.7;
}

.blue-section-heading-2 {
  font-size: 4vw;
}

.issue-image {
  height: 85px;
}

.btn-light-blue {
  background-color: #7c87ab;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none !important;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 500;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vote-para {
  font-size: 1.7rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
}

.banner2 {
  background-color: #0c3b5d;
  color: #cacfdd;
}

.banner-heading2 {
  font-size: 3rem;
  margin: 0;
}
.text-link {
  text-decoration: none !important;
  color: inherit;
  font-style: italic;
  font-weight: 600;
}
ul {
  padding-left: 1.1rem;
}
.squar-list {
  padding-left: 1.05rem;
  list-style-type: square;
}

footer {
  background-color: #002260;
}

footer .footer-logo {
  width: 180px;
  /* margin-bottom: 20px; */
}


.footer-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 15px;
  margin-left: auto;
}

.footer-link {
  display: flex;
  color: #fff;
  line-height: 1.15;
}

.footer-donate-btn {
  color: #fff !important;
  font-weight: 500;
  border-radius: 0;
  background-color: #6b6b6b;
  padding: 0.5rem 1.25rem !important;
  display: inline-block;
  transition: 0.3s;
  margin-top: 10px;
  box-shadow: 0 0 8px 0px #00000033;
}

footer a {
  text-decoration: none !important;
}

.navbar-toggler {
  border: none;
  font-size: 2rem;
  outline: none !important;
  box-shadow: none !important;
}

.platform-heading{
  font-size: 4rem;
  line-height: 1.1;
  text-align: center;
}

.icon-image{
  width: 100px;
}

.platform-section{
  background-image: url(../images/platform.png);
  background-size: 62% auto;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #E2E6ED;
}

@media (min-width: 1400px) {
  .platform-section {
    background-position: right 130%;
  }
}

@media (max-width: 1400px) {
  .banner-title {
    font-size: 1.85rem;
  }

  .banner-sub-heading {
    font-size: 4.5rem;
  }

  .banner-heading {
    font-size: 5rem;
  }

  .blue-section-heading-1 {
    font-size: 5vw;
    line-height: 0.8;
  }

  .blue-section-heading-2 {
    font-size: 3.5vw;
  }
}

@media (max-width: 1200px) {
  .banner-sub-heading {
    font-size: 3.75rem;
  }

  .banner-heading {
    font-size: 5rem;
  }

  .banner-title {
    font-size: 1.5rem;
  }
  .banner-btn {
    font-size: 1.65rem;
  }

  .newsletter-form {
    flex-wrap: wrap;
  }

  .form-desktop-2 {
    /* width: 32%; */
  }
}

@media (max-width: 992px) {
  .btn-donate {
    margin: 10px 0;
    text-align: center;
  }
  .nav-social {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .banner-sub-heading {
    font-size: 2rem;
  }

  .banner-heading {
    font-size: 4rem;
  }

  .banner-title {
    font-size: 1.15rem;
  }
  .banner-btn {
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
  }

  .blue-section-heading-1 {
    font-size: 4vw;
    line-height: 0.8;
  }

  .blue-section-heading-2 {
    font-size: 2.75vw;
  }

  .banner-heading2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 1.25rem;
  }
  .navbar-toggler{
    margin: auto;
  }
  nav.navbar{
    background-color: #002260;
  }
  ul.navbar-nav{
    text-align: center;
  }
  .banner{
    background-image: none;
  }
  /* .banner .col-lg-6{
    position: absolute;
    top: 20px;
    left: 0;
  } */
  img.header-logo {
    max-width: 100%;
  }
  .banner .row {
    min-height: unset;
  }
  .home-image-row{
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .about-section, .platform-section{
    background-image: none;
  }
  nav.navbar > .container{
    flex-direction: column-reverse;
  }
  .banner .row {
    /* min-height: 80vw; */
}
  .banner-sub-heading {
    font-size: 5rem;
  }

  .banner-heading {
    font-size: 12vw;
  }

  .banner-title {
    font-size: 1.8rem;
  }
  .banner-btn {
    font-size: 2rem;
    position: absolute;
    bottom: 30px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    padding: 0.5rem 3rem;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .form-desktop-1,
  .form-desktop-2 {
    width: 100%;
  }

  .blue-section-heading-1 {
    font-size: 9vw;
    line-height: 1;
    margin-top: 2rem;
  }

  .blue-section-heading-2 {
    font-size: 6.5vw;
  }

  .banner2 .container {
    max-width: none;
    padding: 0;
    text-align: center;
  }
  .banner-heading2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 576px) {
  .blue-section-heading-1 {
    font-size: 14vw;
  }

  .blue-section-heading-2 {
    font-size: 10vw;
  }

  .footer-links-wrapper {
    max-width: none;
    margin: 30px auto auto auto;
    flex-direction: column;
    align-items: center;
  }
}

.ratufa-popup-container {
  min-width: 250px;
}
